<p>
  new-exercize works!
</p>
{{MyExercize.id}}
<!-- <p-autoComplete  [suggestions]="filteredProducts" (onSelect)="onChangeProduct()" (completeMethod)="filterProductsSingle($event)" field="name" [size]="30"
     [minLength]="1"  [dropdown]="true" [(ngModel)]="dailyMenuNameProduct">
   </p-autoComplete>
<select   [(ngModel)]="dailyMenu.idMeasure">
  <option  *ngFor="let measure of measuresForProduct" 
 name="measure" [value]="measure.id">{{measure.name}}</option>
</select>
<input type="number"[(ngModel)]="dailyMenu.amount">
<button (click)=removeProduct()>remove</button> -->